<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span>Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Visit Shopping Websites <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://www.amazon.com/">Visit Amazon</a></li>
            <li><a href="https://www.ebay.com/">Visit Ebay</a></li>
            <li><a href="https://us.asos.com/">Visit Asos</a></li>
            <li><a href="https://www.walmart.com/">Visit Walmart</a></li>
            <li><a href="https://www.etsy.com/">Visit Etsy</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://www.fivestuniversal.com/2018/04/top-five-best-online-shopping-websites.html"><span class="glyphicon glyphicon-book"></span>Top 5 Shopping Websites in world</a>
      </li>
    </ul>
  </div>
</nav>
